{% load static %}



<!doctype html>
<html>
<head>
<title>Response</title>
</head>
<body>
<style>
body {
  background-image: url('/static/img/b6.jpg');
}
</style>
<body style="background-color:#faedfc;color:white;">
<center><table>
<tr>
<td><center><p style="background-color:;color:#0e022b;font-family:Brush Script MT;font-size:72px;"><b><u><i>DREAMLAND RESORTS </td>
<td><a href="{% url 'home' %}"><img src="{%static 'img/icon.png' %}"width="150" height="150"></a></p></b></u></i></center></p></td>
</tr>
</table></center>
<h style="background-color:;color:black;font-family:algerian;font-size:82px;"><center>Submitted Succesfully!!!</center></p>
<p style="background-color:;color:#0e022b;font-family:Times new roman;font-size:50px;"><i>Hii there!!, thank you for reaching us. Your query/feedback is extremely valuable for us, Our CS team will reach you out with a response as soon as possible.</i></p>
<center><p style="background-color:;color:#0e022b;font-family:algerian;font-size:45px;">Have good day :)!!!..</p></center>

</body>
</html>